/* Styles for Radix UI Radio Group */

@utility radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@utility radio-group-item {
  all: unset;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;

  &:hover {
    border-color: lightslategray;
  }

  &[data-state="checked"] {
    background-color: white;
    border-color: gray;
  }
}

@utility radio-group-indicator {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}
